<button class="grid-match js-grid-match {{this.home_away}} {{this.got_want}}"
    data-season={{this.season}} 
    data-league={{this.league}} 
    data-tier={{this.tier}} 
    data-date={{this.date}} 
    data-opponent={{this.opponent}} 
    data-home-away={{this.home_away}}
    data-score={{this.score}} 
    data-result={{this.result}} 
    data-position={{this.position}} 
    data-points={{this.points}} 
    data-competition={{this.competition}}
    data-match-notes={{this.match_notes}} 
    data-got-want={{this.got_want}} 
    data-price={{this.price}} 
    data-notes={{this.notes}}
    >
</button>