<button class="grid-plant js-grid-plant {{this.perennialAnnual}}" style="grid-area:{{this.position}};background-color:{{this.colour}}"
    data-position="{{this.position}}" 
    data-is-filled="{{this.isFilled}}" 
    data-common-name="{{this.commonName}}" 
    data-latin-name="{{this.latinName}}" 
    data-perennial-annual="{{this.perennialAnnual}}"
    data-image="{{this.image}}" 
    data-link="{{this.link}}" 
    data-planted-date="{{this.plantedDate}}" 
    data-notes="{{this.notes}}" 
    data-colour="{{this.colour}}">
</button>