{{#if isFiltered}}
<div class="faux-link section js-print-view-toggle">
    <span>Print View</span>
    <span class="hidden"><< Back</span>
</div>
{{/if}}
<div class="js-rich-view">
    <div class="header js-header" id="header">
        <div class="typography--head">David's Cobblers Database</div>
        <div class="typography--large">NTFC Programme Collection</div>
    </div>
    <div class="filter">
        <div class="js-filter-toggle faux-link">
            <span>Filter Data >></span>
            <span class="hidden">Hide Filter <<</span>
        </div>
        <div class="section js-filter-form filter__content hidden">
            {{#if isFiltered}}
            <form class="section" action="/" method="POST">
                <button class="button" type="submit">Remove Filter</button>
            </form>
            {{/if}}
            <form class="section" action="/" method="POST">
                <div class="section">
                    <label for="got">Got</label>
                    <input type="radio" id="got" name="gotWantFilter" value="Got">
                    <label for="want">Want</label>
                    <input type="radio" id="want" name="gotWantFilter" value="Want"></input>
                    <label for="all">All</label>
                    <input type="radio" id="all" name="gotWantFilter" value=""></input>
                </div>
                <div class="section">
                    <label for="home">Home</label>
                    <input type="radio" id="home" name="homeAwayFilter" value="Home">
                    <label for="away">Away</label>
                    <input type="radio" id="away" name="homeAwayFilter" value="Away"></input>
                    <label for="all">All</label>
                    <input type="radio" id="all" name="homeAwayFilter" value=""></input>
                </div>
                <div class="checkbox checkbox__season section">
                    {{#seasonData}}
                    <div>
                        <input type="checkbox" id="seasonFilter" name="seasonFilter" value="{{this}}">
                        <label for="seasonFilter">{{this}}</label>
                    </div>
                    {{/seasonData}}
                </div>
                <div class="checkbox checkbox__opponent section">
                    {{#opponentData}}
                    <div>
                        <input type="checkbox" id="opponentFilter" name="opponentFilter" value="{{this}}">
                        <label for="opponentFilter">{{this}}</label>
                    </div>
                    {{/opponentData}}
                </div>
                <input id="filter" name="filter" class="hidden" value="filter"></input>
                <button class="button" type="submit">Filter</button>
            </form>
        </div>
    </div>
    <img class="prog-img prog-img--left" src="prog1a.png" alt="">
    <img class="prog-img prog-img--right" src="prog2.png" alt="">

    {{#allData}}
        <div class="matches section" data-season-string="{{season_string}}">
            <div class="season-head">
                <span class="typography--large">{{season}}</span>
                {{#unless isNotComplete}}
                <span><img class="check-icon" src="/check-icon.png" alt="check mark icon to indicate programme collection for the season is complete"></span>
                {{/unless}}
                <span class="js-table-toggle faux-link">
                    <span class="js-show-more">Show More</span>
                    <span class="hidden">Show Less</span>
                </span>
                {{#if isNotComplete}}
                <span class="js-wants-toggle faux-link hidden">
                    <span class="js-show-wants">Show Wants</span>
                    <span class="js-show-all hidden">Show All</span>
                </span>
                {{/if}}
            </div>
            <div class="games-dots js-games-dots">
            {{#matches}}
                {{>grid-match}}
            {{/matches}}
            </div>
            <div class="js-games-table hidden">
                <table class="table">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>League</th>
                            <th>Date</th>
                            <th>Opponent</th>
                            <th>H / A</th>
                            <th>Result</th>
                            <th>League Position</th>
                            <th>Points</th>
                            <th>Competition</th>
                            <th class="hidden-mobile">Match Notes</th>
                            <th class="hidden-mobile">Programme Price</th>
                            <th class="hidden-mobile">Programme Notes</th>
                            <th class="hidden">Got / Want</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#matches}}
                        <tr>
                            <td>{{>grid-match}}</td>
                            <td>{{this.league}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.opponent}}</td>
                            <td>{{this.home_away}}</td>
                            <td>{{this.score}}</td>
                            <td>{{this.position}}</td>
                            <td>{{this.points}}</td>
                            <td>{{this.competition}}</td>
                            <td class="hidden-mobile">{{this.match_notes}}</td>
                            <td class="hidden-mobile">{{this.price}}</td>
                            <td class="hidden-mobile">{{this.notes}}</td>
                            <td class="hidden">{{this.got_want}}</td>
                        </tr>
                        {{/matches}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/allData}}
    <a href="#header" class="sticky-bottom">Back to top ^</a>
    <div class="footer">
        <a href="https://docs.google.com/spreadsheets/d/1igrPkooUEO7EhljF3tjjuuZf67smjO9obRVngghhYu8/edit#gid=1616708976" target="_blank">View Data</a>
    </div>

    <div class="modal js-modal hidden">
        <div class="modal-content typography--small">
            <div class="js-modal-season"></div>
            <div class="js-modal-league"></div>
            <div class="js-modal-date"></div>
            <div class="js-modal-opponent typography--large claret"></div>
            <div class="js-modal-home_away"></div>
            <div class="js-modal-score"></div>
            <div class="js-modal-competition"></div>
            <div class="js-modal-match_notes"></div>
            <div class="js-modal-content-editable">
                <div class="modal-got_want js-modal-got_want typography--large claret"></div>
                <div class="js-modal-price"></div>
                <div class="js-modal-notes"></div>
                <button class="button js-modal-edit-button">Edit</button>
            </div>
            <form method="POST" class="section js-modal-content-form hidden" action="/{{seasonPath}}">
                <div>
                    <label for="got">Got</label>
                    <input type="radio" id="got" name="gotWant" value="Got" class="js-form-got">
                </div>
                <div>
                    <label for="want">Want</label>
                    <input type="radio" id="want" name="gotWant" value="Want" class="js-form-want"></input>
                </div>
                <div>
                    <label for="programmePrice">Programme Price</label>
                    <input name="programmePrice" rows="4" id="form-price" class="js-form-price"></input>
                </div>
                <div>
                    <label for="programmeNotes">Programme Notes</label>
                    <textarea name="programmeNotes" rows="4" id="form-notes" class="js-form-notes"></textarea>
                </div>
                <input id="form-id" name="id" class="js-form-id hidden"></input>
                <button class="button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{{#if isFiltered}}
<div class="js-print-view hidden">
    <div class="section align-left">
        <strong>Showing:</strong>
        {{#each appliedFilter}}
        <div>{{this}}</div>
        {{/each}}
    </div>
    <table class="table table--print-view">
        <col span="1" class="col-2">
        <col span="1" class="col-3">
        <col span="1" class="col-4">
        <col span="1" class="col-5">
        <col span="1" class="col-6">
        <col span="1" class="col-7">
        <col span="1" class="col-8">
        <col span="1" class="col-9">
        <col span="1" class="col-10">
        <col span="1" class="col-11">
        <thead>
            <tr>
                <th>League</th>
                <th>Date</th>
                <th>Opponent</th>
                <th>H / A</th>
                <th>Result</th>
                <th>League Position</th>
                <th>Points</th>
                <th>Competition</th>
                <th class="hidden-mobile">Match Notes</th>
                <th >Got / Want</th>
            </tr>
        </thead>
    </table>
{{#allData}}
    <div class="matches section" data-season-string="{{season_string}}">
        <table class="table table--print-view">
            <col span="1" class="col-2">
            <col span="1" class="col-3">
            <col span="1" class="col-4">
            <col span="1" class="col-5">
            <col span="1" class="col-6">
            <col span="1" class="col-7">
            <col span="1" class="col-8">
            <col span="1" class="col-9">
            <col span="1" class="col-10">
            <col span="1" class="col-11">
            <tbody>
                {{#matches}}
                <tr>
                    <td>{{this.league}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.opponent}}</td>
                    <td>{{this.home_away}}</td>
                    <td>{{this.score}}</td>
                    <td>{{this.position}}</td>
                    <td>{{this.points}}</td>
                    <td>{{this.competition}}</td>
                    <td class="hidden-mobile">{{this.match_notes}}</td>
                    <td>{{this.got_want}}</td>
                </tr>
                {{/matches}}
            </tbody>
        </table>
    </div>
{{/allData}}
</div>
{{/if}}
