<div class="layout">
    <div class="header">
        <div class="header-right">
            <a href="/gallery#{{seasonPath}}">Gallery</a>
            <a href="https://docs.google.com/spreadsheets/d/1Khj2u55fpyr7pjKxJKu8HQzmj6UD5x2fTAxpsme0wcM/edit#gid=590538584" target="_blank">Data</a>
        </div>
        <div class="header-left">
            {{seasonName}}
        </div>
        <button class="header-centre button button--big js-button-toggle-view border" type="button">Toggle View</button>
    </div>
    <div class="garden">
        <div class="col-name">
            <div class="name-item">A</div>
            <div class="name-item">B</div>
            <div class="name-item">C</div>
            <div class="name-item">D</div>
            <div class="name-item">E</div>
            <div class="name-item">F</div>
            <div class="name-item">G</div>
            <div class="name-item">H</div>
            <div class="name-item">J</div>
            <div class="name-item">K</div>
            <div class="name-item">L</div>
            <div class="name-item">M</div>
            <div class="name-item">N</div>
            <div class="name-item">P</div>
            <div class="name-item">Q</div>
            <div class="name-item">R</div>
        </div>
        <div class="row-name-borders">
            <div class="name-item">1</div>
            <div class="name-item">2</div>
            <div class="name-item">3</div>
            <div class="name-item">4</div>
            <div class="name-item">5</div>
            <div class="name-item">6</div>
            <div class="name-item">7</div>
            <div class="name-item">8</div>
            <div class="name-item">9</div>
            <div class="name-item">10</div>
            <div class="name-item">11</div>
            <div class="name-item">12</div>
            <div class="name-item">13</div>
            <div class="name-item">14</div>
            <div class="name-item">15</div>
            <div class="name-item">16</div>
        </div>
        <div class="row-name-decking">
            <div class="name-item">17</div>
            <div class="name-item">18</div>
            <div class="name-item">19</div>
        </div>
        <div class="borders-grid border">
            {{#each gridItems}}
            {{#unless this.isDecking}}
            {{>grid-plant}}
            {{/unless}}
            {{/each}}
            <div class="grass border">
                <form action="https://www.niwaki.com/media/c/prd/334/1492696764/rc/1000/3753/80/niwaki-pro-snips.jpg" method="get">
                    <button class="snips"></button>
                </form>
                <img src="./background.png" alt="Andrew's Garden Logo over grass section of the garden">
            </div>
        </div>
        <div class="decking-grid border">
            {{#each gridItems}}
            {{#if this.isDecking}}
            {{>grid-plant}}
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="info">
        <div class="modal js-modal border">
            <div class="modal-content modal-initial js-modal-initial">
                <div class="modal-common-name">Click on a spot to find out more :)</div>
            </div>
            <div class="modal-content js-modal-content-info hidden">
                <button class="button button--small border js-modal-edit-button">Edit</button>
                <div class="modal-title js-modal-latin-name"></div>
                <div class="modal-common-name js-modal-common-name"></div>
                <div class="modal-perennial-annual js-modal-perennial-annual"></div>
                <div class="js-modal-planted-date"></div>
                <div class="modal-image js-modal-image"></div>
                <div class="modal-link js-modal-link"></div>
                <div class="modal-notes js-modal-notes"></div>
            </div>
            <div class="modal-content js-modal-content-form hidden">
                <form method="POST" action="/{{seasonPath}}">
                    <div class="modal-title js-form-title"></div>
                    <div class="form-body">
                            <label class="form-body__label" for="form-latin-name">Latin Name</label>
                            <input type="text" name="latinName" placeholder="" id="form-latin-name" class="js-form-latin-name form-body__input"></input>
                            <label class="form-body__label" for="form-common-name">Common Name</label>
                            <input type="text" name="commonName" placeholder="" id="form-common-name" class="js-form-common-name form-body__input"></input>
                    </div>
                    <label for="perennial">Perennial</label>
                    <input type="radio" id="perennial" name="perennialAnnual" value="Perennial" class="js-form-perennial">
                    <label for="annual">Annual</label>
                    <input type="radio" id="annual" name="perennialAnnual" value="Annual" class="js-form-annual"></input>
                    <div class="form-body">
                        <label class="form-body__label" for="colour">Colour <a href="/colours" target="_blank">(options)</a></label>
                        <select id="colour" name="colour" class="js-form-colour form-body__input">
                            {{#each colours}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <label class="form-body__label" for="form-planted-date">Planted Date</label>
                        <input type="text" name="plantedDate" placeholder="" id="form-planted-date" class="js-form-planted-date form-body__input"></input>
                        <label class="form-body__label" for="form-image">Image (URL)</label>
                        <input type="text" name="image" placeholder="" id="form-image" class="js-form-image form-body__input"></input>
                        <label class="form-body__label" for="form-link">RHS Link</label>
                        <input type="text" name="link" placeholder="" id="form-link" class="js-form-link form-body__input"></input>
                        <label class="form-body__label" for="notes">Notes</label>
                        <textarea name="notes" rows="4" id="form-notes" class="js-form-notes form-body__input"></textarea>
                        <input id="form-position" name="position" class="js-form-position hidden"></input>
                        <input id="form-filled" name="filled" value="true" class="hidden"></input>
                    </div>
                    <button class="button button--small border" type="submit">Submit</button>
                    <button class="button button--small border" type="submit" name="removePlant" value="true">Remove Plant</button>
                </form>
            </div>
        </div>
        <table class="js-table hidden">
            <thead>
                <tr>
                    <th>Grid</th>
                    <th>Latin Name</th>
                    <th>Common Name</th>
                    <th>P / A</th>
                    <th>Planted Date</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {{#each gridItems}}
                {{#if this.isFilled}}
                <tr>
                    <td>{{this.position}}</td>
                    <td>
                        {{#if this.link}}
                        <a href="{{this.link}}" target="_blank">{{this.latinName}}</a>
                        {{else}}
                        {{this.latinName}}
                        {{/if}}
                    </td>
                    <td>{{this.commonName}}</td>
                    <td>{{this.perennialAnnual}}</td>
                    <td>{{this.plantedDate}}</td>
                    <td>{{this.notes}}</td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class=footer>
        <div class="footer-content">
            <a href="/summer19">Summer 2019</a>
            <a href="/winter20">Winter 2020</a>
        </div>
    </div>
</div>
