<div class="layout">
    <div class="header">
        <div class="header-right">
            <a href="https://docs.google.com/spreadsheets/d/1Khj2u55fpyr7pjKxJKu8HQzmj6UD5x2fTAxpsme0wcM/edit#gid=590538584" target="_blank">Update Data</a>
        </div>
        <div class="header-left">
            Summer 2019
        </div>
        <button class="header-centre js-button-toggle-view" type="button">Toggle View</button>
    </div>
    <div class="garden">
        <div class="col-name">
            <div class="name-item">A</div>
            <div class="name-item">B</div>
            <div class="name-item">C</div>
            <div class="name-item">D</div>
            <div class="name-item">E</div>
            <div class="name-item">F</div>
            <div class="name-item">G</div>
            <div class="name-item">H</div>
            <div class="name-item">J</div>
            <div class="name-item">K</div>
            <div class="name-item">L</div>
            <div class="name-item">M</div>
            <div class="name-item">N</div>
            <div class="name-item">P</div>
            <div class="name-item">Q</div>
            <div class="name-item">R</div>
        </div>
        <div class="row-name-borders">
            <div class="name-item">1</div>
            <div class="name-item">2</div>
            <div class="name-item">3</div>
            <div class="name-item">4</div>
            <div class="name-item">5</div>
            <div class="name-item">6</div>
            <div class="name-item">7</div>
            <div class="name-item">8</div>
            <div class="name-item">9</div>
            <div class="name-item">10</div>
            <div class="name-item">11</div>
            <div class="name-item">12</div>
            <div class="name-item">13</div>
            <div class="name-item">14</div>
            <div class="name-item">15</div>
            <div class="name-item">16</div>
        </div>
        <div class="row-name-decking">
            <div class="name-item">17</div>
            <div class="name-item">18</div>
            <div class="name-item">19</div>
        </div>
        <div class="borders-grid">
            {{#each gridItems}}
            {{#unless this.isDecking}}
            <div class="grid-plant {{this.perennialAnnual}}" style="grid-area:{{this.position}};background-color:{{this.colour}}"
            data-position="{{this.position}}" 
            data-common-name="{{this.commonName}}" 
            data-latin-name="{{this.latinName}}" 
            data-perennial-annual="{{this.perennialAnnual}}" 
            data-image="{{this.image}}" 
            data-link="{{this.link}}" 
            data-planted-date="{{this.plantedDate}}" 
            data-colour="{{this.colour}}"
            ></div>
            {{/unless}}
            {{/each}}
            <div class="grass">
                <img src="./background.png" alt="Andrew's Garden Logo over grass section of the garden">
            </div>
        </div>
        <div class="decking-grid">
            {{#each gridItems}}
            {{#if this.isDecking}}
            <div class="grid-plant {{this.perennialAnnual}}" style="grid-area:{{this.position}};background-color:{{this.colour}}"
            data-position="{{this.position}}" 
            data-common-name="{{this.commonName}}" 
            data-latin-name="{{this.latinName}}" 
            data-perennial-annual="{{this.perennialAnnual}}"
            data-image="{{this.image}}" 
            data-link="{{this.link}}" 
            data-planted-date="{{this.plantedDate}}"
            data-colour="{{this.colour}}"
            ></div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="info">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-latin-name"></div>
                <div class="modal-common-name">Click on a spot to find out more :)</div>
                <div class="modal-perennial-annual"></div>
                <div class="modal-image"></div>
                <div class="modal-planted-date"></div>
                <div class="modal-link"></div>
            </div>
        </div>
        <table class="hidden">
            <thead>
                <tr>
                    <th>Grid</th>
                    <th>Latin Name</th>
                    <th>Common Name</th>
                    <th>P / A</th>
                    <th>Planted Date</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {{#each gridItems}}
                <tr>
                    <td>{{this.position}}</td>
                    <td>
                        {{#if this.link}}
                        <a href="{{this.link}}" target="_blank">{{this.latinName}}</a>
                        {{else}}
                        {{this.latinName}}
                        {{/if}}
                    </td>
                    <td>{{this.commonName}}</td>
                    <td>{{this.perennialAnnual}}</td>
                    <td>{{this.plantedDate}}</td>
                    <td>{{this.notes}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class=footer>
        <div class="footer-content">
            <a href="">Winter 2019</a>
            <a href="">Spring 2020</a>
        </div>
    </div>
</div>
<!-- {{gridItems}} -->