/* Grids */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  color: #131313;
  text-align: center;
  font-size: 1.6rem;
}

.typography--head {
  font-size: 6.5rem;
  font-family: 'Bebas Neue', cursive;
}

.typography--large {
  font-size: 2.4rem;
}

.typography--small {
  font-size: 1.6rem;;
}

.header {
  position: sticky;
  margin: 4rem auto 3rem;
}

.prog-img {
  margin: 3.5rem 0;
  position: -webkit-sticky;
  position: sticky;
  max-height: 30rem;
  z-index: -1;
}

.prog-img--left {
  top: 6%;
  transform: rotate(-25deg);
}

.prog-img--right {
  transform: rotate(25deg);
  top: -15%;
}

.claret {
  color: crimson;
}

.section {
  padding: 1rem 0;
}

.button {
  color: #131313; 
  background-color: white;
  font-size: 1.6rem;
  height: 3.2rem;
  margin: 1.6rem auto;
  border: 0.1rem solid #131313;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: #131313;
}

.filter {
  margin: 0 0 2rem 0;
}

.filter__content {
  background-color: whitesmoke;
}

.checkbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  text-align: left;
}

.checkbox__season {
  grid-template-rows: repeat(25, 1fr);
  max-width: 60%;
  margin: auto;
}

.checkbox__opponent {
  grid-template-rows: repeat(54, 1fr);
  max-width: 90%;
  margin: auto;
}

.season-head {
  margin: 0 0 0.2rem 0;
}

.matches {
  display: grid;
  background-color: rgba(255, 255, 255, .8);
}

.games-dots {
  display: grid;
  grid-template-columns: repeat(27, min-content);
  grid-template-rows: auto;
  justify-self: center;
}

.grid-match {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0.05rem;
  border-radius: 100%;
}

.grid-match:focus {
  outline: none;
  box-shadow: 0 0 1rem;
}

.grid-match:hover {
  cursor: pointer;
}

.Got {
  background-color: crimson;
}

.Want {
  background-color: white;
}

.Away {
  border: 2px dotted #131313;
}

.Home {
  border: 1px solid #131313;
}

.faux-link {
  text-decoration: underline;
  margin: 0 0 0 1rem;
}

.faux-link:hover {
  cursor: pointer;
}

.faux-link:focus {
  font-weight: strong;
}

.check-icon {
  max-width: 2rem;
  vertical-align: baseline;
  margin: 0 0.4rem 0 0;
}

/* Footer */
.footer {
  text-align: center;
  margin: 8.6rem 0 0 0;
}

.footer a{
  color: #131313;
}

/* Data table */
.table {
  max-width: 70%;
  margin: auto;
  font-size: 1.4rem;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: ghostwhite;
  border-bottom: 0.2rem #131313;
}

td {
  border: 0.05rem dotted #131313;
  background-color: white;
}

/* Info modal */
.modal {
  background-color: white;
  width: 25%;
  margin: 2.4rem auto;
  border: 0.2rem dotted;
}

.modal-content {
  margin: 2.4rem;
  padding: 2.4rem;
  border: 0.2rem dotted;
  text-align: center;
}

.modal-content div {
  margin: 0 0 0.8rem 0;
}

.hidden {
  display: none;
}

.sticky-bottom {
  position: sticky;
  bottom: 14px;
  margin-left: 85%;
  color: #131313;
}

/* Little bit of responsiveness */
@media (max-width: 520px), screen and (max-device-width: 520px) {
  html {
    font-size: 100%;
  }

  .table {
    width: 100%;
  }

  .hidden-mobile {
    display: none;
  }

  .games-dots{
    grid-template-columns: repeat(15, min-content);
  }

  .modal {
    width: 60%;
  }
}

