/* Grids */
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: 
    "header header"
    "matches-container info"
    "footer footer";
}

button:hover {
  cursor: pointer;
}

.matches-container {
  grid-area: matches-container;
}

.matches {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas: 
    "season-date"
    "games"
}

.season-date {
  grid-area: season-date;
}

.games {
  grid-area: games;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto;
}


/*  */
.grid-match {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}
.grid-match:focus {
  outline: none;
  box-shadow: 0px 0px 10px;
}

.Got {
  background-color: crimson;
}

.Want {
  background-color: ghostwhite;
}

.Away {
  border: 2px dotted #131313;
}

.Home {
  border: 1px solid #131313;
}

.snips {
  top: 5%;
  left: 42%;
  height: 60px;
  width: 60px;
  position: absolute;
  opacity: 0;
}

/* Footer */
.footer {
  grid-area: footer;
  text-align: center;
}

.footer-content {
  margin-top: 56px;
}

.footer-content a {
  margin: 0 10px;
}

/* Data table */
table {
  margin: 0 40px 20px 0;
  font-size: 14px;
  grid-area: info;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: ghostwhite;
  border-bottom: 2px dotted #131313;
}

td {
  border: 0.5px dotted #131313;
}

/* Info modal */
.modal {
  grid-area: info;
  position: relative;
  justify-self: center;
  width: 60%;
  margin: 36px 30px;
}

.bounding-pixel {
  grid-area: info;
  color: white;
}

.modal-content {
  padding: 24px;
  border: 20px solid ghostwhite;
  text-align: center;
}

.modal-image img {
  max-width: 80%;
  margin-top: 18px;
}

.modal-title {
  font-family: 'Bangers';
  margin: 20px 12px;
  font-size: 44px;
}

.modal-common-name {
  font-size: 28px;
}

.modal-perennial-annual {
  font-size: 24px;
  margin: 12px auto;
}

.modal-link {
  margin: 20px auto 24px;
}

.form-body__label {
  vertical-align: top;
  text-align: right;
  margin-right: 8px;
}

.form-body__input {
  text-align: left;
  margin-left: 8px;
}

.form-body {
  margin: 14px 12px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 14px;
  text-align: left;
}

/* Little bit of responsiveness */
@media (max-width: 520px), screen and (max-device-width: 520px) {
  .layout {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: none;
    grid-template-areas: 
      "header"
      "garden"
      "info"
      "footer";
  }

  .modal {
    margin: 57px auto;
  }

  table {
    margin: 57px auto;
  }
}

.hidden {
  display: none;
}

.colour-display {
  text-align: center;
}
